

<!-- Página de Perfil -->

    <div class="well perfil col-md-10 gral-caja-centrada">
		<div class="page-header gral-titulos">
			<h1>{{'perfil.titulo' | translate}}</h1>
		</div>

		<div class="well row" style="background-color:lavender;">
			<!-- Si no está definida la imagen, carga el avatar -->
			<div id="imagen" 	class="col-md-3" ng-cloak >
				<img ng-src="{{ruta + usu_usuario.usu_imagen}}" class="img-rounded cursos-img">
			</div>

			<div id="descripcion" class="col-md-6" ng-cloak >
				<h2>{{usu_usuario.usu_nombre}}</h2>
				<button class="btn btn-info btn-md tooltip-top" ui-sref="perfiledicion.data">
					<span class="glyphicon glyphicon-edit"></span>
					{{'perfil.editar' | translate}}
				</button>
			</div>			
		</div>
		<div class="row">
			<button class="btn btn-info btn-lg tooltip-top perfil-btn-ver-cursos">
					<span class="glyphicon glyphicon-chevron-right"></span>
					{{'perfil.vercursos' | translate}}
			</button>
		</div>

    </div><!-- /card-container -->
