<!-- Formulario Login descargado -->
<!-- you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox-->
    <div class="container">        
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->            
            <!-- <img id="profile-img" class="profile-img-card" ng-src="{{imagenUsu}}" />
            <p id="profile-name" class="profile-name-card"></p> -->
            <h3 class="login-titulo">
                <span class="glyphicon glyphicon-user"></span> {{'login.titulo' | translate}}
            </h3>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" 
                    placeholder="{{ 'login.ingresemail' | translate}}" 
                    required autofocus ng-model="usu_nombre">
                <input type="password" id="inputPassword" class="form-control" 
                    placeholder="{{ 'login.ingresepass' | translate }}" 
                    required ng-model="usu_clave">
                <ul class=login-error ng-if="error">
                    <li>{{'login.error' | translate}}</li>
                </ul>
                
                <!-- <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> {{ 'login.recordar' | translate }}
                    </label>
                </div> -->

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="entrar()">{{ 'login.entrar' | translate }}</button>

                <button class="btn btn-md btn-primary btn-block" ng-click="entrarFace()">
                    {{'login.entrarface' | translate}}
                </button>            
                <a href="#" class="forgot-password">
                    {{ 'login.olvido' | translate }}
                </a>
            </form><!-- /form -->
            <!-- <div notificacion control="mensajeAlerta" ></div> -->

        </div><!-- /card-container -->
    </div><!-- /container -->