<nav class="navbar navbar-default">
	<div class="container-fluid">
	    <div class="navbar-header">
	      	<a class="navbar-brand" href="#">
	      	{{ 'BIENVENIDO' | translate }}
	      	</a>
	    </div>	

		<ul class="nav navbar-nav">
			<li><a ui-sref="inicio" 	ng-hide="logvisibleScope">{{ 'barra.inicio' | translate }}</a></li>
			<li><a ui-sref="login" 		ng-show="logvisibleScope">
				<span class="glyphicon glyphicon-log-in"></span> {{ 'barra.iniciosesion' | translate }}</a></li>
			<li><a ui-sref="registro" 	ng-show="logvisibleScope">
				<span class="glyphicon glyphicon-user"></span> {{ 'barra.registrar' | translate }}</a></li>
			<li><a ui-sref="perfil" 	ng-hide="logvisibleScope">{{ 'barra.perfil' | translate }}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ng-hide="logvisibleScope">
				<p class="navbar-text">{{ 'barra.bienvenido' | translate }} {{usuario}}</p>
				<button class="btn btn-danger navbar-btn" ng-click="salir()">{{'barra.salir' | translate}}</button>					
			</li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">{{'barra.idioma' | translate}}
					<span class="caret"></span>
				</a>

				<!-- Sujeto a reformas -->
				<ul class="dropdown-menu">
					<li><a href="#" ng-click="cambiaridioma('es')">Español</a></li>
					<li><a href="#" ng-click="cambiaridioma('en')">English</a></li>
				</ul>
			</li>				

		</ul>
	</div>
</nav>