<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Principal IdiomasV2</title>
	<!-- LIBRERIAS EN LOCAL -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/Angular/LibreriasLocal/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/Angular/LibreriasLocal/ionicons-2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/Angular/LibreriasLocal/font-awesome-4.7.0/css/font-awesome.min.css">

	<!-- ESTILOS PROPIOS -->
	<link rel="stylesheet" type="text/css" href="assets/css/cssLogin.css">
	<link rel="stylesheet" type="text/css" href="assets/css/estilo.css">
</head>

<!-- FRAMEWORKS EN LOCAL -->
<script src="http://localhost:8888/Angular/LibreriasLocal/jquery-3.1.1.min.js"></script>
<script src="http://localhost:8888/Angular/LibreriasLocal/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="http://localhost:8888/Angular/LibreriasLocal/angular.min.js"></script> <!-- Ver. 1.6.0 -->

<!-- LIBRERIAS DE APLICACION -->
<script src="assets/libs/angular-ui-router.min.js"></script> <!-- Enrutador para desarrollo de SPA -->
<script src="assets/libs/angular-translate.min.js"></script> <!-- filtro de multilenguaje -->
<script src="assets/libs/angular-translate-loader-static-files.min.js"></script>
<script src="assets/libs/angular-cookies.min.js"></script> <!-- Manejador de cookies -->
<script src="assets/libs/angular-local-storage.min.js"></script> <!-- Administración de LocalStorage -->

<!-- SCRIPTS DE APLICACION -->
<script src="assets/js/jsLogin.js" type="text/javascript"></script>
<script src="app/generalPrinc.js" type="text/javascript"></script>
<script src="app/appPrin.js"></script>

<!-- CONTROLADORES DE APLICACION -->
<script src="app/shared/barrasuperior/barrasuperiorCtrl.js" type="text/javascript"></script>
<script src="app/shared/barraLateral/barraLateralCtrl.js" type="text/javascript"></script>
<script src="app/components/Inicio/inicioCtrl.js" type="text/javascript"></script>
<script src="app/components/Login/loginCtrl.js" type="text/javascript"></script>
<script src="app/components/Registro/registroCtrl.js" type="text/javascript"></script>
<script src="app/components/Perfil/perfilCtrl.js" type="text/javascript"></script>
<script src="app/components/Perfil/perfilEdicionCtrl.js" type="text/javascript"></script>
<script src="app/components/Perfil/perfilEdicionDataCtrl.js" type="text/javascript"></script>
<script src="app/components/Perfil/perfilEdicionPassCtrl.js" type="text/javascript"></script>
<script src="app/components/Cursos/cursosCtrl.js" type="text/javascript"></script>
<script src="app/components/referencia/referenciaCtrl.js" type="text/javascript"></script>

<!-- SERVICIOS DE APLICACION -->
<script src="app/shared/Servicios/UsuariosSrv.js" type="text/javascript"></script>
<script src="app/shared/Servicios/FacebookSrv.js" type="text/javascript"></script>
<script src="app/shared/Servicios/LlamadoHttpSrv.js" type="text/javascript"></script>
<script src="app/shared/Servicios/LocalStorageSrv.js" type="text/javascript"></script>

<!-- DIRECTIVAS DE APLICACION -->
<script src="app/shared/Directivas/directivas.js" type="text/javascript"></script>

<body ng-app="modPrincipal">

	<!-- Barra Superior -->
	<header id="superior" 	ui-view="superior"></header>

	<!-- Contenido principal -->
	<section class="container-fluid">	    
	    <div id="lateral" 	ui-view="lateral" 	ng-class="{'col-md-3': menLateralVisible}" ng-cloak></div>
		<div id="principal" ui-view="principal" ng-class="{'col-md-9': menLateralVisible, 'col-md-12': !menLateralVisible}" ng-cloak></div>
	</section>

	<!-- Footer -->
	<!-- http://bootsnipp.com/snippets/33WGq -->
	<footer>
	    <div class="footer-bottom">
	        <div class="container">
	            <p class="pull-left"> Copyright © Footer 2017. All right reserved. </p>
	            <div class="pull-right">
	                <ul class="nav nav-pills payments">
	                    <li><i class="fa fa-cc-visa"></i></li>
	                    <li><i class="fa fa-cc-mastercard"></i></li>
	                    <li><i class="fa fa-cc-amex"></i></li>
	                    <li><i class="fa fa-cc-paypal"></i></li>
	                </ul> 
	            </div>
	        </div>
	    </div>
	    <!--/.footer-bottom--> 
	</footer>	

</body>
</html>
