<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Principal IdiomasV2</title>
	<!-- <link rel="stylesheet" type="text/css" href="assets/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="assets/libs/ionicons-2.0.1/css/ionicons.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="assets/libs/font-awesome-4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="assets/css/cssLogin.css">
</head>

<!-- <script src="assets/libs/jquery-3.1.1.min.js" type="text/javascript"></script> -->
<!-- <script src="assets/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script> -->
<!-- <script src="assets/libs/angular.min.js" type="text/javascript"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="assets/js/jsLogin.js" type="text/javascript"></script>
<script src="app/generalPrinc.js" type="text/javascript"></script>
<script src="app/appPrin.js"></script>


<body ng-app="appPrincipal">

<!-- Formulario Login descargado -->
<!-- you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox-->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Ingrese Email" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Olvidó la contraseña?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->


	<!-- PRUEBAS DE ANGULAR -->
	<div ng-controller="controladorPrincipal">
		<form ng-submit="cambiar()">
		  <input type="text">
		  <input type="submit">
		  <button class="btn btn-success">Éxito</button>
		</form>	

		<p>{{resu}}</p><br>

		<h4>Datos Quemados</h4>
		<table border="1">
			<tr>
				<th ng-repeat="(k,c) in columnas">{{c}}</th>
			</tr>

			<tr ng-repeat="v in datos.contactos">
				<td ng-repeat="c in columnas">
					<div>{{v[c]}}</div>
				</td>
			</tr>
		</table>

		<h4>Datos de la Base</h4>
		<table border="1">
			<tr>
				<th ng-repeat="(k,c) in columnasContactos">{{c}}</th>
			</tr>

			<tr ng-repeat="v in ContactosBD.contactos">
				<td ng-repeat="c in columnasContactos">
					<div>{{v[c]}}</div>
				</td>
			</tr>
		</table>

	</div>

	<p class="label label-danger ng-binding">
		<i class="fa fa-times" aria-hidden="true"></i>
		Ejemplo de uso de awesome icons: fa-times
	</p><br>

	<i class="fa fa-camera-retro fa-lg"></i> fa-lg		


	
</body>
</html>
