<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Principal IdiomasV2</title>
	<!-- LIBRERIAS EN LOCAL -->
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/Angular/LibreriasLocal/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/Angular/LibreriasLocal/ionicons-2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8888/Angular/LibreriasLocal/font-awesome-4.7.0/css/font-awesome.min.css">


	<link rel="stylesheet" type="text/css" href="assets/css/cssLogin.css">
</head>

<!-- LIBRERIAS EN LOCAL -->
<script src="http://localhost:8888/Angular/LibreriasLocal/jquery-3.1.1.min.js"></script>
<script src="http://localhost:8888/Angular/LibreriasLocal/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="http://localhost:8888/Angular/LibreriasLocal/angular.min.js"></script>

<!-- PLUGINS DE APLICACION -->
<script src="assets/libs/angular-ui-router.min.js"></script>

<!-- SCRIPTS DE APLICACION -->
<script src="assets/js/jsLogin.js" type="text/javascript"></script>
<script src="app/generalPrinc.js" type="text/javascript"></script>
<script src="app/appPrin.js"></script>

<!-- CONTROLADORES DE APLICACION -->
<script src="app/components/Login/loginCtrl.js" type="text/javascript"></script>
<script src="app/components/Registro/registroCtrl.js" type="text/javascript"></script>

<body ng-app="modPrincipal">
	<header>
		<nav>
			<a ui-sref="login">Iniciar Sesión</a>
			<a ui-sref="registro">Registrarse</a>						
		</nav>
	</header>

	<section>	    
	    <div id="lateral" ui-view="lateral"></div>
		<div id="principal" ui-view="principal"></div>	    
	</section>

	<footer>
		<p>Copyright 2017. Wittman Gutiérrez, Bogotá D.C.<br>
		Cel:3134395795</p>	      	
	</footer>




	<!-- PRUEBAS DE ANGULAR -->
	<div ng-controller="controladorPrincipal">
		<div ng-hide="true">
			<form ng-submit="cambiar()">
			  <input type="text">
			  <input type="submit">
			  <button class="btn btn-success">Éxito</button>
			</form>	

			<p>{{resu}}</p><br>

			<h4>Datos Quemados</h4>
			<table border="1">
				<tr>
					<th ng-repeat="(k,c) in columnas">{{c}}</th>
				</tr>

				<tr ng-repeat="v in datos.contactos">
					<td ng-repeat="c in columnas">
						<div>{{v[c]}}</div>
					</td>
				</tr>
			</table>

			<h4>Datos de la Base</h4>
			<table border="1">
				<tr>
					<th ng-repeat="(k,c) in columnasContactos">{{c}}</th>
				</tr>

				<tr ng-repeat="v in ContactosBD.contactos">
					<td ng-repeat="c in columnasContactos">
						<div>{{v[c]}}</div>
					</td>
				</tr>
			</table>

			<p class="label label-danger ng-binding">
				<i class="fa fa-times" aria-hidden="true"></i>
				Ejemplo de uso de awesome icons: fa-times
			</p><br>

			<i class="fa fa-camera-retro fa-lg"></i> fa-lg					
		</div>



	
</body>
</html>
