<!-- http://bootsnipp.com/snippets/featured/admin-sidebar-menu-bs30 -->
    <div id="sidebar" class="well sidebar-nav">
        <h5><i class="glyphicon glyphicon-home"></i>
            <small><b>MANAGEMENT</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Add</a></li>
            <li><a href="#">Search</a></li>
        </ul>
        <h5><i class="glyphicon glyphicon-user"></i>
            <small><b>USERS</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">List</a></li>
            <li><a href="#">Manage</a></li>
        </ul>
    </div>



<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="sidebar" class="well sidebar-nav">
                <h5><i class="glyphicon glyphicon-home"></i>
                    <small><b>MANAGEMENT</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
                <h5><i class="glyphicon glyphicon-user"></i>
                    <small><b>USERS</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">List</a></li>
                    <li><a href="#">Manage</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            Algo
        </div>
    </div>
</div> -->

<!-- <div class="sidebar-nav">
    <div class="well" style="width:300px; padding: 8px 0;">
		<ul class="nav nav-list"> 
		  <li class="nav-header">Este es el menu</li>        
		  <li><a href="index"><i class="icon-home"></i> Dashboard</a></li>
          <li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
          <li><a href="#"><i class="icon-comment"></i> Comments <span class="badge badge-info">10</span></a></li>
		  <li class="active"><a href="#"><i class="icon-user"></i> Members</a></li>
          <li class="divider"></li>
		  <li><a href="#"><i class="icon-comment"></i> Settings</a></li>
		  <li><a href="#"><i class="icon-share"></i> Logout</a></li>
		</ul>
	</div>
</div> -->